:root {
  --gap: 10px;
  --caption-line-height: 50px;
  --title-font-size: calc(var(--caption-line-height) * 3);
}
body {
  background-color: #f00;
  font-size: 0;
  margin: 0;
}
figure {
  background-color: #fff;
  margin: 0;
  width: fit-content;
}
figure > figcaption {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 36px;
  line-height: var(--caption-line-height);
  overflow: hidden;
  padding: var(--gap) 0;
  text-align: right;
}
figure > figcaption > a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
figure > figcaption > a::after {
  content: " " attr(href);
  font-size: 32px;
  font-weight: normal;
}
#chapter-title {
  font-family: serif;
  font-size: var(--title-font-size);
  font-weight: bold;
  line-height: var(--title-font-size);
  overflow: hidden;
  position: absolute;
}
