:root {
  --sticky-header-height: 2rem;
  --max-content-width: 42rem;
}

html {
  /* AndroidのChromeで別ページの途中へ遷移できなくなるので使わないでおく */
  /* scroll-behavior: smooth; */
  height: 100%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1536px) {
  html {
    font-size: 150%;
  }
}
@media screen and (min-width: 2304px) {
  html {
    font-size: 175%;
  }
}
@media print {
  nav#navbar {
    display: none;
  }
  figure.image-and-caption > figcaption > a::after {
    content: " " attr(href);
    font-size: 0.5rem;
  }
}
body {
  background-color: #fff;
  color: #000;
  font-family: serif;
  height: 100%;
  margin: 0;

  display: grid;
  grid-template:
    "navbar" auto
    "header" auto
    "main" 1fr
    "footer" auto;
}
p {
  line-height: 2rem;
  margin: 0;
}
a {
  color: #06c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* 固定ナビゲーションバー */
nav#navbar {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  grid-area: navbar;

  position: fixed;
  top: 0;
  width: 100%;
  height: var(--sticky-header-height);
  z-index: 999;
}
nav#navbar > ul {
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav#navbar > ul > li {
  border-left: 1px solid #333;
  font-size: 0.8rem;
  height: 1rem; /* 文字がなくてもボーダーを付けるため */
  line-height: 1rem;
  text-align: center;

  width: 100%;
}
nav#navbar > ul > li:first-child {
  border-left: none;
}
nav#navbar > ul > li > a {
  color: #000;
}

/* ヘッダー */
header {
  grid-area: header;
}

/* メインコンテンツ */
main {
  grid-area: main;
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 1rem;
}

/* フッター */
footer {
  grid-area: footer;
}

/* 書名 - 章タイトル */
.h2-section-title {
  font-size: 0.7rem;
  line-height: 2rem;
  text-align: center;
  padding-top: var(--sticky-header-height);
}

/* ページの見出し */
h1,
h2 {
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
}
/* 項の見出し */
h3 {
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
}
/* 連続している項の見出し */
section.title-only + section > h3 {
  padding-top: 0;
}

/* ページ下部の次ページへのリンク */
a#next-page {
  display: block;
  font-size: 0.9rem;
  margin: 2rem auto;
  width: fit-content;
}

/* ページ下部のコピーライト文 */
div#copyright {
  background-color: #eee;
  color: #666;
  font-family: sans-serif;
  font-size: 0.6rem;
  line-height: 2rem;
  text-align: center;
}

/* 画像とキャプション */
figure.image-and-caption {
  background-color: #000;
  font-size: 0;
  margin: 0;
  text-align: center;
}
/* 画像 */
figure.image-and-caption > img {
  width: 100%;
}
/* キャプション */
figure.image-and-caption > figcaption {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 0.6rem;
  padding-right: 0.2rem;
  text-align: right;
}
/* キャプション中のリンク */
figure.image-and-caption > figcaption > a {
  color: #000;
}
/* 画像とキャプションの後のp */
figure.image-and-caption + p {
  margin-top: 2rem;
}
/* 各章先頭の画像とキャプション */
.h2-section > figure.image-and-caption {
  margin: 1rem 0 0 0;
}
/* 表紙画像 */
figure.image-and-caption#cover > img {
  max-width: 60rem;
}
/* 甕の章　大甕の画像 */
figure.image-and-caption#photo-ogame > img {
  width: 50%;
}

/* Webサイトの説明 */
div#website-desc {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0.5rem;
  text-align: center;
}

/* 導入部 */
div#introduction {
  padding-bottom: 2rem;
}

/* 目次 */
nav#toc ul {
  list-style: none;
  line-height: 2.5rem;
}

/* 付録 */
section#appendix p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
section#appendix b {
  display: block;
  padding-top: 1rem;
  font-size: 1rem;
}

/* 改版履歴 */
section#revision-history p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
