:root {
  --sticky-header-height: 2rem;
  --max-content-width: 42rem;
}

html {
  height: 100%;
}
@media screen and (min-width: 640px) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 150%;
  }
}
@media print {
  nav#navbar {
    display: none;
  }
  figure.image-and-caption > figcaption > a::after {
    content: " " attr(href);
    font-size: 0.5rem;
  }
}

body {
  background-color: #111;
  color: #fff;
  font-family: serif;
  height: 100%;
  margin: 0;

  display: grid;
  grid-template:
    "navbar" auto
    "main" 1fr
    "footer" auto;
}

/* 固定ナビゲーションバー */
nav#navbar {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  grid-area: navbar;

  position: fixed;
  top: 0;
  width: 100%;
  height: var(--sticky-header-height);
  z-index: 999;
}
nav#navbar > ul {
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav#navbar > ul > li {
  border-left: 1px solid #333;
  font-size: 0.8rem;
  height: 1rem; /* 文字がなくてもボーダーを付けるため */
  line-height: 1rem;
  text-align: center;

  width: 100%;
}
nav#navbar > ul > li:first-child {
  border-left: none;
}
nav#navbar > ul > li > a {
  color: #000;
}

/* メイン */
main {
  background-color: #fff;
  color: #000;
  grid-area: main;
  padding-top: var(--sticky-header-height);
}

/* コンテンツ */
div#content {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 1rem;
}

/* フッター */
footer {
  grid-area: footer;
}

/* Webサイトのタイトル */
div.h1-title {
  font-size: 0.8rem;
  line-height: 1.8rem;
  text-align: center;
}
/* 章のタイトル */
div.h2-title {
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
}

/* Webサイトの先頭ページのページタイトル */
h1 {
  font-size: 1.7rem;
  font-weight: normal;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
}
/* 章の先頭ページのページタイトル */
h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
}
/* 項のページのページタイトル */
h3 {
  font-size: 1.3rem;
  font-weight: normal;
  margin: 0;
  padding-top: 1.5rem;
  text-align: center;
}
/* 連続している項のページタイトル */
section.title-only + section > h3 {
  padding-top: 0;
}
/* その他の神の項の各神名 */
h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/* ページ下部の次ページへのリンク */
a#next-page {
  display: block;
  margin: 2rem auto 3rem auto;
  width: fit-content;
}

/* ページ下部のコピーライト文 */
div#copyright {
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 2rem;
  text-align: center;
}

a {
  color: #06c;
  text-decoration: none;
}

p {
  line-height: 2rem;
  margin: 0;
}
/* 空行 */
p.blank-line {
  line-height: 0;
  margin: 1rem 0;
}
/* 段落 */
p.par {
  margin: 1rem 0;
}
/* 太字の段落 */
p.par-bold {
  margin: 1rem 0;
  font-weight: bold;
}
/* リスト1(箇条書き レベル1) */
p.list-1 {
  margin: 0 0 0 2rem;
  text-indent: -1rem;
}
/* リスト2(箇条書き レベル2) */
p.list-2 {
  margin: 0 0 0 3rem;
  text-indent: -1rem;
}
/* リスト3(箇条書き レベル3) */
p.list-3 {
  margin: 0 0 0 4rem;
  text-indent: -1rem;
}

/* 画像とキャプション */
figure.image-and-caption {
  font-size: 0;
  margin: 0;
  text-align: center;
}
/* 画像 */
figure.image-and-caption img {
  height: auto;
  width: 100%;
}
/* キャプション */
figure.image-and-caption > figcaption {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 20px;
  padding-right: 0.2rem;
  text-align: right;
}
/* 画像とキャプションの後のp */
figure.image-and-caption + p {
  margin-top: 2rem;
}
/* 各章先頭の画像とキャプション */
.h2-section > figure.image-and-caption {
  margin: 1rem 0 0 0;
}


/* 目次 */
html#html-toc {
  scroll-padding-top: 10rem;
}
html#html-toc > body {
  grid-template:
    "main" 1fr
    "footer" auto;
}
html#html-toc nav#toc ul {
  list-style: none;
  line-height: 2.5rem;
  padding-left: 2rem;
}

/* 先頭ページ　画像 */
figure.image-and-caption#photo-pleiades {
  background-color: #000;
}
figure.image-and-caption#photo-pleiades img {
  max-width: 60rem;
}
figure.image-and-caption#photo-pleiades > figcaption {
  background-color: #fff;
}
/* 先頭ページ　Webサイトの説明 */
div#website-desc {
  font-family: sans-serif;
  font-size: 0.75rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* 甕の章　大甕の画像 */
figure.image-and-caption#photo-ogame {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 15rem;
}

/* 改版履歴 */
section#revision-history p {
  font-size: 0.9rem;
  line-height: 1.4rem;
}
section#revision-history p.blank-line {
  line-height: 0;
}
