:root {
  --navbar-height: 2.5rem;
  --max-content-width: 40rem;
}

html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}
@media screen and (min-width: 641px) {
  html {
    font-size: 120%;
  }
}
@media screen and (min-width: 1281px) {
  html {
    font-size: 140%;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 160%;
  }
}

@media print {
  nav#navbar {
    display: none;
  }
  main {
    padding-top: 0;
  }
}

/* リンク */
a {
  color: #06c;
  text-decoration-line: none;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
}
a:hover {
  text-decoration-line: underline;
}
/* 下線 */
u {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.2rem;
}

p {
  line-height: 2rem;
  margin: 0;
}
/* 空行 */
p.blank-line {
  line-height: 0;
  margin: 1rem 0;
}
/* 項の短い説明 */
p.desc {
  font-size: 0.85rem;
  line-height: normal;
  margin: 1rem 0;
  text-align: center;
}
/* 段落 */
p.par {
  margin: 1rem 0;
}
/* 太字の段落 */
p.par-bold {
  font-weight: bold;
  margin: 1rem 0;
}
/* リスト1(箇条書き レベル1) */
p.list-1 {
  margin: 0 0 0 1rem;
  text-indent: -1rem;
}
/* リスト2(箇条書き レベル2) */
p.list-2 {
  margin: 0 0 0 2rem;
  text-indent: -1rem;
}
/* リスト3(箇条書き レベル3) */
p.list-3 {
  margin: 0 0 0 3rem;
  text-indent: -1rem;
}

/* 画像とキャプション */
figure.image-and-caption {
  font-size: 0;
  margin: 0;
  text-align: center;
}
/* 画像 */
figure.image-and-caption img {
  height: auto;
  width: 100%;
}
/* 画像のキャプション */
figure.image-and-caption > figcaption {
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  text-align: left;
}
/* 画像とキャプションの後のp */
figure.image-and-caption + p {
  margin-top: 2rem;
}

body {
  background-color: #222;
  color: #fff;
  font-family: serif;
  height: 100%;
  margin: 0;

  display: grid;
  grid-template:
    "navbar" auto
    "main" 1fr
    "footer" auto;
}

/* 固定ナビゲーションバー */
nav#navbar {
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  grid-area: navbar;

  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  z-index: 999;
}
nav#navbar > ul {
  height: 100%;
  list-style: none;
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav#navbar > ul > li {
  border-left: 1px solid #333;
  font-size: 0.9rem;
  height: 1rem; /* 文字がなくてもボーダーを付けるため */
  line-height: 1rem;
  text-align: center;

  width: 100%;
}
nav#navbar > ul > li:first-child {
  border-left: none;
}
nav#navbar > ul > li > a {
  color: #000;
}

/* メイン */
main {
  background-color: #fff;
  color: #000;
  grid-area: main;
  padding-top: var(--navbar-height);
}

/* コンテンツ */
div#content {
  margin: 0 auto;
  max-width: var(--max-content-width);
  padding: 0 1rem;
}

/* Webサイトのタイトル */
div.h1-title {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 1rem 0;
  text-align: center;
  text-indent: 0.3rem;
}
/* 章のタイトル */
div.h2-title {
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: -1rem 0 1rem 0;
  text-align: center;
  text-indent: 0.3rem;
}

/* Webサイトの先頭ページのページタイトル */
h1 {
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  margin: 1.5rem 0 0 0;
  text-align: center;
  text-indent: 0.8rem;
}
/* 章の先頭ページのページタイトル */
h2 {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin: 1.5rem 0 0 0;
  text-align: center;
  text-indent: 0.5rem;
}
/* 項のページのページタイトル */
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin: 0;
  text-align: center;
  text-indent: 0.3rem;
}
/* その他の神の項の各神名 */
h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

/* ページ下部の次ページへのリンク */
nav#next-page {
  margin: 4rem 0;
  text-align: center;
}
nav#next-page > a {
  font-size: 1.1rem;
}
nav#next-page > div.desc {
  font-size: 0.85rem;
}

/* フッター */
footer {
  grid-area: footer;
}

/* ページ下部のコピーライト文 */
div#copyright {
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 1.5rem;
  text-align: center;
  border: #222 solid 1px;
}

/* ページ先頭へスクロールするボタン */
a.top-of-page {
  background-color: #222;
  color: #fff;
  display: block;
  font-family: sans-serif;
  line-height: 2.5rem;
  outline: none;
  text-align: center;
  text-decoration-line: none;
  z-index: 998;

  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 2.5rem;
}

/* 目次 */
html#html-toc {
  scroll-behavior: auto;
  scroll-padding-top: 10rem;
}
html#html-toc > body {
  grid-template:
    "main" 1fr
    "footer" auto;
}
html#html-toc nav#toc > ul {
  padding-left: 0;
}
html#html-toc nav#toc > ul > li > ul {
  padding-left: 1.5rem;
}
html#html-toc nav#toc li {
  list-style: none;
  margin-top: 1rem;
}
html#html-toc nav#toc a {
  text-decoration-line: underline;
}
html#html-toc nav#toc div.desc {
  font-size: 0.85rem;
}

/* 先頭ページ　画像 */
figure.image-and-caption#photo-pleiades {
  background-color: #000;
}
figure.image-and-caption#photo-pleiades img {
  max-width: 64rem;
}
figure.image-and-caption#photo-pleiades > figcaption {
  background-color: #fff;
  padding: 0 0.5rem;
  text-align: right;
}
/* 先頭ページ　Webサイトの説明 */
div#website-desc {
  background-color: #eee;
  font-family: sans-serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 1rem 0 2.5rem 0;
  padding: 0.25rem 1rem;
  text-align: center;
}

/* 甕の章　大甕の画像 */
figure.image-and-caption#photo-ogame {
  margin-left: auto;
  margin-right: auto;
  min-width: 15rem;
  width: 50%;
}

/* 改版履歴 */
section#revision-history p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
section#revision-history p.blank-line {
  line-height: 0rem;
  margin: 0.6rem 0;
}
